:root {
  --static-aside-width: 170px;
  --asideWidth: 170px;
  --asideMiniWidth: 50px;
  --headerHeight: 55px;
  --c-brand-primary: #000;
  --c-brand-secondary: rgb(2, 85, 85);
  --default-transition: all .3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}