div#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  border-color: navy;


  :is(main, aside) {
    >* {
      @include flex-padding($padding: 12px, $bg: #2f353a);
    }
  }


  div.stage {
    background-color: #eee;
  }

  .app-header {
    height: var(--headerHeight);
    @include flex-padding;
  }

  div.app-body,
  div.app-body>aside,
  div.app-body>aside nav,
  div.stage,
  main {
    display: flex;
    flex-direction: column;
    flex: 1;

  }

  div.app-body {
    flex-direction: row;

    >aside {
      max-width: var(--asideWidth);
      transition: all .3s ease;
    }
  }
}